

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Train+One&display=swap');

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

body{
    height: 100vh;
    background: radial-gradient(circle at center, #701DBD, #2F184B)}
    

/* ----------------- NAVBAR ----------------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 0 5%;
}

.navbar ul{
    display: flex;
    gap: 15%;
    margin: 0 auto;
    
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 5vh;
}
  
.navbar img{
    width: 5%;
    height: auto;
    padding-top: 1.5%;
        
}

.navbar ul li a:hover{
    color: #dd27ee;
}

/* ----------------- NAVBAR ----------------- */
    
/* ----------------- WELCOME ----------------- */

.welcome{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    height: 65%;
    padding: 0 5%;
}

.welcome h3{
    font-family: "Train One", serif;
    font-size: 40px;
    color: #fff;
}

.welcome p.title{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    font-weight: bold;
    margin-top: 2%;
}

.welcome p.subtitle{
    color: #fff;
    display: flex;
    margin-top: 4%;
}

/* ----------------- WELCOME ----------------- */

/* ----------------- ABOUT ----------------- */

h4{
    font-size: 35px;
    margin: 2%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

/* ----------------- ABOUT ----------------- */

/* ----------------- TRAJETÓRIA ----------------- */


.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    background-color: #fff;
    padding: 5% 5%;
}

.trajetoria-titulo{
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    justify-self: left;
    margin-bottom: 5%;
}

.trajetoria{
    width: 80%;
    padding: 2%;
    margin: 5%;
    line-height: 4vh;
}

.trajetoria-content{
    text-align: justify;
}

.button{
    background-color: #651C81;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 15vh;
    height: 7vh;
    margin-top: 5%;    
}

.button:hover{
    background-color: #dd27ee;
}
/* ----------------- TRAJETÓRIA ----------------- */

/* ----------------- HABILIDADES ----------------- */

.habilidades{
    width: 80%;
    padding: 2%;
    margin: 5%;
    line-height: 4vh;
}

.habilidades-titulo{
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    justify-self: left; 
    margin-bottom: 5%;    
}

.habilidade-content{
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #ccc;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 2%;
    display: inline-block;
}
/* ----------------- HABILIDADES ----------------- */

/* ----------------- PROJETOS ----------------- */

h6{
    display: block;
    font-size: 35px;
    margin: 2%;
}

.projetos-container{
    text-align: center;
    color: #fff;
    font-size: 16px;
    height: 70vh;
}

.projetos-container p{
    margin-top: 2%;
}

/*.formulario-container{
    display: inline-flex;
    justify-content: center;
    width: 40vh;
    padding: 40px 32px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: #ecdede83 0px 7px 29px 0px;
    color: black;
    margin: 2%;
    padding: 2vh;
}

.custom-input{
    margin: 2%;
}

.formulario-container button{
    border-radius: 5px;
    width: 10vh;
    height: 5vh;
    font-size: 16px;
    background-color: #651C81;
    color: #fff;
    margin-top: 2%;
}

.formulario-container button:hover{
    background-color: #dd27ee;
}

input[type=name], input[type=email], #textarea {
    border-radius: 10px;
    text-indent: 20px;
    margin-top: 6px;
    width: 70%;
    height: 46px;
    transition: all 0.3s ease;
    border: 1px solid #1d1d1d;
    outline: none;
}

#label-nome, #label-email{
    padding-right: 40%;
    padding-top: 4%; 
    font-weight: bold;
}
#label-descricao{
    padding-right: 25%;
    padding-top: 4%; 

    font-weight: bold;
}*/
 
/* ----------------- PROJETOS ----------------- */
/* ----------------- FOOTER ----------------- */

.footer-page{
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.footer-title{
    display: center;
    padding-top: 2%;
    font-weight: bold;
}

.footer-page .copyright{
    margin-top: 2.5%;
    text-align: right;
}

.icons{
    /*filter: invert(100%) sepia(1%) saturate(4%) hue-rotate(337deg) brightness(105%) contrast(101%);*/
    width: 50px;
    height: 50px;
    margin: 2%;
}

footer .social-media a{
    text-decoration: none;
}


.icons:hover{
    filter: invert(35%) sepia(69%) saturate(5532%) hue-rotate(279deg) brightness(97%) contrast(108%);
}

/* ----------------- FOOTER ----------------- */

